{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
  Add a Category!
{% endblock %}
{% block body_block %}
    <form role="form" id="category_form" action="{% url 'rango:add_category' %}" method="post" accept-charset="utf-8">
        <h2 class="form-signin-heading">Add a Category</h2>
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }} <br />
            {{ field }} <br />
        {% endfor %}
        <br />
        <!--<input type="submit" value="Creat Category" name="submit" id="submit"/>-->
        <button class="btn btn-primary" type="submit" name="submit">Add a Category</button>
    </form>
{% endblock %}
