{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Login
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="http://getbootstrap.com/docs/4.1/examples/sign-in//signin.css">
    <div>
        <h1>Login</h1>
    </div>
    <form class="form-signin" action="{% url 'rango:login' %}" role="form" method="post" id="login_form" accept-charset="utf-8">
        {% csrf_token %}
        Username: <input type="text" value="" name="username" id="username" size="50"/>
        <br />
        Password: <input type="password" value="" name="password" id="password" size="50"/>
        <br />
        <input type="submit" value="submit" name="" id=""/>
    </form>
{% endblock %}
